name: flutter_custom_tree_view
description: "A flutter_custom_tree_view package."
version: 1.9.0
homepage: https://github.com/NavidHosseini/flutter_custom_tree_view

environment:
  sdk: '>=3.1.3 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
flutter: